[submodule "Vendor/facebook-ios-sdk"]
	path = Vendor/facebook-ios-sdk
	url = git://github.com/facebook/facebook-ios-sdk.git
	ignore = dirty
[submodule "Xcode/ServerlessDemo/Submodules/OTRKit"]
	path = Xcode/ServerlessDemo/Submodules/OTRKit
	url = git@github.com:ChatSecure/OTRKit.git
[submodule "Xcode/ServerlessDemo/Submodules/AFNetworking"]
	path = Xcode/ServerlessDemo/Submodules/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
[submodule "Xcode/ServerlessDemo/Submodules/CocoaHTTPServer"]
	path = Xcode/ServerlessDemo/Submodules/CocoaHTTPServer
	url = git@github.com:robbiehanson/CocoaHTTPServer.git
